/*photography html page*/

body {
    background-color: #262728;
}

h1 {
    font-family: 'Lemonada', cursive;
    text-align: center;
    font-size: 55px;
    padding: 0;
    margin: 0;
}

h1 a {
     text-decoration: none;
    color: #fff;
}

nav {
    text-align: center;
    word-spacing: 110px;
    font-size: 25px;

}

nav a {
    font-family: 'Work Sans', sans-serif;
    text-decoration: none;
    color: #fff;
    
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 220px;
  justify-content: center;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 0 100px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  display: inline-block;
}

button {
   justify-content: center;
}

.jump {
    text-decoration: none;
    color: white;
    display: inline-block;
    margin: 10px;
    float: right;
}



footer {
    margin: 0 auto;
   width: 1000px;
    text-align: center
}

footer a {
  color:#fff;
}

footer p {
    color: #fff;

}